@charset "utf-8";
body {
  font: 13px "微软雅黑", Arial, sans-serif;
  background: #16191b ;
  color: #8e8c8d
}
a, a:link, a:visited, a:hover, a:active, a:focus {
    color: #8e8c8d;
}
ul, li, ol {
    list-style: none;
    list-style-position: outside;
}

.main {
    margin-top: 440px;
    position: relative;
    z-index: 100;
}
.wrap{
    background: url(../img/footer.jpg) no-repeat center bottom;
    padding-bottom: 200px
}
.wp{
    background: url(../img/bg4.jpg) no-repeat top center;
}
.layout{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.nav a{
    color: #fff
}
.nav ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    position: relative;
}
.nav ul li{
    float: left;
    width: 140px;
    height: 130px;
    line-height: 130px;
}
.nav li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 140px;
    height: 130px;
}
.nav li a h4{
    display: inline-block;
}
.nav li:hover{
    background: url(../img/spr_nav1.png) center no-repeat;
}
.logo{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
}
.side {
    float: left;
    width: 318px;
}
.beginimg{
    display: block;
    background: url(../img/sprites02.png) top left;
    background-position: 0 0;
    width: 318px;
    height: 137px;
}
.beginimg:hover{
    background-position: 318px 0;
}

/* login */
.userwrap{
    padding: 0 10px;
    color: #fff;
}
.userwrap form{
    padding-top:30px;
    position: relative;
}
.in_box_cite{
    position: absolute;
    top: 0px;
    left: 5px;
    color: red;
    font-size: 12px
}
.in_box_container{
    float: left;
    width: 226px;
    height: 46px;
}
.pay_btn{
    float: right;
    width: 62px;
    height: 62px;
    line-height: 62px;
    color: #fff !important;
    background-image:-webkit-linear-gradient(
        to bottom, 
        rgb(72, 203, 255) 0%, 
        rgb(64, 200, 255) 27%, 
        rgb(40, 183, 248) 64%, 
        rgb(0, 171, 255)100%); 
    background-image:linear-gradient(
        to bottom,
        rgb(72, 203, 255) 0%, 
        rgb(64, 200, 255) 27%, 
        rgb(40, 183, 248) 64%, 
        rgb(0, 171, 255)100%); 
}
.pay_btn input{
    color: #fff
}
.in_box,in_box2{
    background-color: #000;
    color: #aaa;
    padding: 2px;
    height: 26px;
    line-height: 26px;
}
.in_box2{
    float: left;
    width: 190px;
}
.in_box input{
    padding: 4px;
    color: #ccc;
    width: 100%
}
.password{
    margin-top: 2px;
}
.cbox{
    float: left;
}
.text_cite{
    float: right;
}
.in_boxa{
    padding: 10px 12px;
    height: 39px;
    line-height: 39px;
}
.verify_img{
    float: right;
}
.btnwrap a{
    border: 1px #414142 solid;
    background: #313336;
    width: 295px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 10px;
    display: block;
    font-size: 16px;
}
.btnwrap a:hover{
    color: #fff;
    background-image: -webkit-linear-gradient(
     to bottom, 
     rgb(72, 203, 255) 0%, 
     rgb(64, 200, 255) 27%, 
     rgb(40, 183, 248) 64%, 
     rgb(0, 171, 255)100%);
        background-image: linear-gradient(
     to bottom,
     rgb(72, 203, 255) 0%, 
     rgb(64, 200, 255) 27%, 
     rgb(40, 183, 248) 64%, 
     rgb(0, 171, 255)100%);
}
#acount_login_after{
    padding: 30px 0;
}

/* sidebox */
.side_box {
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.bg_type_1{
    background-color: #26282C
}
.bg_type_2 {
    background: #26282C;
}
.side_com_hd{
    height: 34px;
    line-height: 34px;
    color: #fff;
    border-bottom: 1px #000 solid;
    margin:0 10px;
    text-align: left;
}
.side_com_hd [class^="icon-"], [class*=" icon-"],.cont_hd [class^="icon-"], [class*=" icon-"]{
    color: #028ac9;
    font-size: 20px;
}


.side_box h6{
    display: inline-block;
}
.quick {
    padding: 5px 10px;
    height: 118px;
}
.quick .btn_quick {
    width: 56px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #9D795A;
    color: #9D795A;
    margin: 10px 5px 10px 5px;
}
.quick .btn_quick:hover{
    background-color:#9D795A;
    color: #000;
}
.quick span, .quick input, .quick a {
    float: left;
}
.quick .part{
    color: #FF9900
}
.game_score{
    position: relative;
    height: 178px;
}
.game_score .total {
    position: absolute;
    top: 33px;
    width: 92px;
    text-align: center;
}
.game_score .total strong {
    font-size: 34px;
    font-weight: normal;
    display: block;
    line-height: 40px;
}
.game_score strong {
    color: #FF9900;
}
.game_score .info li {
    height: 21px;
}
.game_score .info span {
    margin: 0 6px 0 0;
}
.game_score .info div{
    display: inline-block;
}
.custom_server {
    position: relative;
    height: 75px;
    margin: 14px 0;
    padding: 0 0 6px 84px;
    line-height: 22px;
}
.custom_server img {
    position: absolute;
    top: 0;
    left: 0;
}
.custom_server h4 {
    color: #fff;
    padding: 0 0 5px;
}
.game_score .info {
    padding: 10px 0 0 100px;
    line-height: 21px;
}
.star,.star_on{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../img/spr_side.png);
    overflow: hidden;
}
.star{
    background-position: -38px -38px;
}
.star_on {
    background-position: -52px -38px;
}


/* content */
.content {
    float: right;
    width: 866px;  
}
.page_news_wrap {
    padding: 0;
}
.game_server_wrap, .page_news_wrap {
    background: #26282C;
    min-height: 1450px;
    _height: 1450px;
}
.tab_page {
    height: 58px;
    margin-right: 0;
    position: relative;
}
.tab_page:after{
    content: "";
    width: 866px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;

}
.tab_page .tab {
    font-size: 20px;
}
.tab_type_2 .tab {
    float: left;
    _display: inline;
    font-size: 20px;
}
.tab_page .tab a:hover, .tab_page .cur a {
    border-width: 3px;
}
.tab_page .tab a {
    width: 116px;
    height: 55px;
    line-height: 55px;
}
.tab_type_2 .tab a:hover, .tab_type_2 .cur a {
    color: #fff;
    border-bottom: 2px solid #0284C4;
    text-decoration: none;
}
.tab_type_2 .tab a {
    display: block;
    width: 102px;
    text-align: center;
    position: relative;
}
.tab_type_2 .tab a:after{
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    left: 102px;
    top: 50%;
    margin-top: -10px;
    background-color: #8e8c8d;
}
.tab_page .cur_pos {
    right: 26px;
    top: 20px;
}
.cur_pos {
    position: absolute;
}

.cur_pos .cur {
    color: #0284c4;
}
.page_news_list_wrap {
    padding: 0 28px;
}
.page_news_list li {
    position: relative;
    border-bottom: 1px dashed #3A3A3C;
    line-height: 22px;
    padding: 21px 0 22px;
    text-align: left;
}
.page_news_list .com_arrow {
    position: absolute;
    left: 0;
}
.page_news_list .news_con {
    padding: 0 0 0 25px;
}
.page_news_list .date {
    position: absolute;
    right: 0;
    top: 22px;
}
.page {
    text-align: center;
    padding: 40px 0;
}
.page .cur, .page .dis {
    background: #34363A;
    color: #969696;
    cursor: default;
}
.page .txtlink {
    width: 85px;
}
.page a {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    border: 1px solid #434344;
    color: #666666;
    width: 38px;
    margin-left: -1px;
    background: #26282C;
    vertical-align: top;
}



/* shop */
.buy_content{
    padding: 40px 20px 10px 20px;
}
.buy_content table{
    width: 100%;
    font-size: 18px;
}
.buy_content table tr{
    height: 40px;
    line-height: 40px;
}
.buy_content table select{
    height: 30px;
}
.buy_content table tr td:last-child{
    color:#FFCC00
}
.buy_content .buy{
    display: block;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 40px auto
}


/* manage */
.tab_page_2{
    position: relative;
}
.tab_page_2 .tab a:hover, .tab_page_2 .cur a{
    border-bottom: none;
}
.tab_page_2 .tab a:after{
    content: none;
}
.tab_page_2 .tab{
    margin-left: 20px;
}
.com_arrow {
    position: absolute;
    left: 0;
    top: 0px;
    height: 58px;
    line-height: 58px !important;
}
.tab_content{
    padding: 40px 20px 10px 20px;
}
table {
    width: 100%;
    font-size: 18px;
}
table tr {
    height: 40px;
    line-height: 40px;
}

/* rank */
.rank_content{
    padding: 40px 20px 10px 20px;
}
.rank_content form{
    font-size: 20px;
    margin: 20px auto;
} 
.rank_content form select{
    height: 20px;
    line-height: 20px;
}
.rank_content form input[type="submit"]{
    display: inline-block;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

/* footer */
footer{
    margin-top: 50px;
    text-align: center;
}





/* *
fonts
* */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gap0d5');
  src:  url('../fonts/icomoon.eot?gap0d5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gap0d5') format('truetype'),
    url('../fonts/icomoon.woff?gap0d5') format('woff'),
    url('../fonts/icomoon.svg?gap0d5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gavel:before {
  content: "\e90e";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-flag2:before {
  content: "\e900";
}
.icon-flame:before {
  content: "\f0d2";
}
.icon-addressbook:before {
  content: "\e902";
}
.icon-flag4:before {
  content: "\e903";
}
.icon-flag4:before {
  content: "\e903";
}

/* clear */
.clearfix:before,.clearfix:after{
    content: "";
    clear: both;
    width: 0;
    height: 0;
}
