@charset "UTF-8";
body {
  font: 13px "微软雅黑", Arial, sans-serif;
  background: #000;
}
.middle {
  width: 982px;
  margin: -580px auto;
  position: relative;
}
.right {
  float: right;
  background: #fff;
  width: 746px;
  padding: 20px;
}
.head {
  border-bottom: 2px solid #ccc;
  height: 58px;
  line-height: 58px;
}
.head h3 {
  background: #435d81;
  color: #fff;
  text-align: center;
  height: 58px;
  line-height: 58px;
  margin: 0;
}
.left {
  float: left;
}
.main {
  margin: 0 auto;
  color: #ccc;
  color: #333333;
}
.main form fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
}
.main form legend{
  border: 0;
  text-align: center;
  width: auto
}
.main form textarea{
  font-size: 14px;
  overflow-y:scroll;
  width: 100%
}



.content {
  padding: 20px 0;
}
.form-group .dec {
  line-height: 34px;
  font-size: 12px;
  color: #999;
}
.message {
  margin-top: 15px;
  color: red;
}
.form-group b {
  color: red;
}
.error {
  color: red;
}
@media (max-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
/*底部*/
.footer {
  width: 100%;
  height: 162px;
  padding-top: 60px;
  clear: both;
  text-align: center;
  line-height: 240%;
  font-size: 12px;
  color: #666;
}
