@charset "UTF-8";
body {
  font: 13px "微软雅黑", Arial, sans-serif;
  background: #16191C;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
.medium {
  margin: -580px auto;
  position: relative;
  width: 1000px;
}
.left_two {
  width: 226px;
  height: 60px;
  border: 1px solid #bbb;
  background-color: #fff;
  margin-bottom: 12px;
}
.share {
  margin-left: 16px;
  height: 60px;
  line-height: 60px;
  margin-top: 17px;
}
.left_three {
  height: 284px;
  background-color: #26282c;
  margin-bottom: 12px;
}
.left_three .open {
  height: 30px;
  width: 224px;
}
.left_three .open b {
  background: url("../images/icon.png") 0 -175px;
  display: inline-block;
  width: 23px;
  height: 20px;
  float: left;
  margin-top: 5px;
}
.left_three .open span {
  display: inline-block;
  width: 164px;
  height: 28px;
  margin-right: 10px;
  overflow: hidden;
}
.left_three .open span a {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}
.open .contain {
  margin-left: 10px;
  border-top: 1px #eee solid;
  height: 28px;
  line-height: 28px;
}
.left_three li {
  width: 224px;
  height: 30px;
  border-top: 1px #eee solid;
  line-height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.left_three li a {
  color: #666;
}
.left_four {
  height: 454px;
  background-color: #26282c;
  margin-bottom: 12px;
}
.left_five {
  height: 260px;
  background-color: #26282c;
  margin-bottom: 12px;
}
.left_three .three_ban,.left_four .four_ban,
.left_five .five_ban {
  height: 46px;
  background-color: #26282c;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-indent: 5px;
  border-bottom: 1px #333 solid
}
i{
  color: #0284c4;
  margin-right: 10px;
}
.table > thead > tr > th{
  border-bottom: 0
}
.left_four .four_ban a,
.left_five .five_ban a {
  float: right;
  font-size: 12px;
  font-weight: normal;
  margin-right: 10px;
}
.left_five .five_open {
  width: 224px;
  height: 30px;
  border-top: 1px #eee solid;
}
.left_five .five_open span {
  float: right;
  line-height: 30px;
  color: #999;
  margin-right: 10px;
  font-size: 12px;
}
.left_five .five_open b {
  background: url("../images/qq.jpg") center center;
  width: 15px;
  height: 16px;
  float: left;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
}
.left_four table{
  width: 100%;
  overflow: hidden;
  color: #666;
  font-size: 14px;
}
.left_four table tr{
  height: 20px;
  line-height: 20px;
}
.left_four table td{

}
.four_pic {
  margin-left: 21px;
  margin-top: 23px;
}
.four_pic a {
  float: left;
  display: inline;
}
.pic_mid {
  margin: 0 40px 0 40px;
}
.right_in,
.right {
  width: 746px;
  float: right;
}
.re {
  padding-left: 15px;
  margin-top: 10px;
  padding-top: 10px;
  color: #333;
  border-top: 1px solid #333333;
}
.re a {
  color: #999;
  font-size: 16px;
}
.re span {
  margin-left: 10px;
  margin-right: 10px;
}
.right_one {
  width: 746px;
  height: 325px;
  margin-bottom: 10px;
  -margin-bottom: -10px;
}
.one_left {
  width: 466px;
  height: 100%;
  background-color: #000;
}
.swiper-container{
  width: 100%;
  height: 100%;
  color: #fff;
}
.one_right {
  width: 270px;
  height: 100%;
  background-color: #26282c;
  float: right;
}
.service {
  padding: 0 14px;
}
.one_right h3 {
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
.ser_dec{
  background-color: #1C1D1E;
  height: 260px;
}
.ser_dec p {
  color: #999;
  font-size: 14px;
  margin: 6px 0;
  padding:10px 10px 0 10px;
}
.right_two,
.right_three,
.right_four {
  width: 746px;
  height: 260px;
  background-color: #26282c;
  margin-bottom: 14px;
  position: relative;
}
.right_in .two_ban,
.right_in .three_ban,
.right_in .four_ban {
  width: 744px;
  height: 44px;
  border-bottom: 1px solid #333;
}
.two_ban a,
.three_ban a,
.four_ban a,
.five_ban a {
  float: right;
  line-height: 44px;
  margin-right: 10px;
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
.two_ban .tit,
.three_ban .tit,
.three_ban .tit,
.four_ban .tit {
  height: 42px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 44px;
  text-align: center;
  float: left;
  cursor: default;
}
.two_ban .tit ul,
.three_ban .tit ul,
.three_ban .tit ul,
.four_ban .tit ul{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #131418
}
.tit li{
  float: left;
  padding: 0 20px;
  text-align: center;
}
.tit li a{
  display: block;
  float: none;
  margin: 0;
  font-size: 16px;
}
.two_ban .active,
.three_ban .active,
.three_ban .active,
.four_ban .active{
  border-bottom: 3px solid #0284c4;
  background-color: #1E1F22;
}
.two_ban .active a,
.three_ban .active a,
.three_ban .active a,
.four_ban .active a{
  color: #fff
}
.tit>div{
  padding: 0 20px;
  background-color: #26282c !important
}
.rtwo_foot,
.rthree_foot {
  width: 710px;
  height: 170px;
  margin-left: 19px;
  margin-top: 22px;
  position: absolute;
  top: 44px;
  left: 0;
}
.r_right {
  width: 482px;
  height: 170px;
  float: right;
}
.r_right ul,
.rr_right ul {
  list-style: none;
  color: #666;
  padding-left: 0;
}
.r_right ul li,
.rr_right ul li {
  line-height: 24px;
}
.r_right ul li span {
  float: right;
}
.r_right ul li a,
.rr_right ul li a {
  margin-left: 4px;
  color: #666;
}
.r_left {
  width: 200px;
  height: 170px;
}
.tupp {
  height: 115px;
  width: 200px;
  margin-bottom: 15px;
  border: 1px #ccc solid;
}
footer {
  width: 100%;
  clear: both;
  text-align: center;
  line-height: 240%;
  font-size: 12px;
  color: #666;
   /* background: url(../img/footer1.jpg) no-repeat top;  */
}
.footer_container{
  padding: 80px 0;
}
/*左边导航公共类*/
.middle {
  width: 982px;
  height: 1100px;
  margin: -80px auto;
  position: relative;
}
.left {
  float: left;
  width: 246px;
}
.right {
  float: right;
  background: #fff;
  height: 770px;
}
.main {
  margin: 0 auto;
  color: #ccc;
  color: #333;
  padding-left: 20px;
}
.main h2 {
  height: 42px;
  line-height: 45px;
  font-family: "微软雅黑";
  font-size: 24px;
  color: #666;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
/*移动文字*/
.right_five {
  width: 746px;
  height: 60px;
  background-color: #26282c;
  color: #F7D38A;
  font-size: 30px;
  margin-bottom: 14px;
}
.right_five a {
  color: #F7D38A;
}
.marquee {
  display: block;
  height: 60px;
  line-height: 60px;
}
.all {
  margin: 0;
  background: url('../images/bg1.png') no-repeat 100% 100%;
}
